<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>tg中文搜索</title>
</head>

<body>
    <form action="/tgs" method="get">
        <input type="text" name="q" size="100%">
        <input type="submit" value="🌚">
        </form>
    {{if ne .Keyword ""}}
    <p>按图 ({{.Keyword}}) 索骥:</p>
    <ul>
        {{range .Results}}
            <li>{{.}}</li>
        {{end}}
    </ul>
    {{end}}
</body>

<footer><center>
    <p>
    version: 咕咕咕等有缘人接盘
    </p>
    <p><a href="https://github.com/cxumol/tg-search/edit/master/README.md" >
        告诉我怎么搞出搜索来
    </a></p>
</center></footer>

</html>